/* En ce qui concerne le quiz */

* {
    font-family: 'Exo', sans-serif;
    /* box-sizing : border-box; 
    margin : 0;
    padding : 0; */
    text-align: center;
}

body {
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    background: white;
    color: black;
    margin:0;
}

::selection {
    background : #A9CEF4;
    color : #fff;
}

.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)
  }
#startBtn{
    color:#e0e0e0;
    padding:1rem 2rem;
    margin: 1rem;
    background : #285943;
    transition-duration: .4s;
    border-radius: 1rem;
    font-weight: bold;
    font-size:35px;
}
#startBtn:hover{
    color:white;
    background : #1f4634;
    box-shadow:0 0 0 .3rem  #bcf17f;
    transition-duration: .2s;
    cursor:pointer;
    transform: scale(0.95);
}

h1 {
    font-family: 'Exo', sans-serif;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 4rem;
}

span, i {
    color: #A1CF6B;
}

h3 {
    color: black;
    font-size: 1.5rem;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto 3rem;
    width: 500px;
}

button {
    flex: 1 0 45%;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: .4rem;
    outline: none;
    background: #285943;
    user-select: none;
    font-weight: 600;
    transition-duration: .5s;
    color: white;
    overflow:auto;
}
/*scrollbar des boutons*/
button::-webkit-scrollbar{
    width:10px;
}
button::-webkit-scrollbar-track {
    background: #234d3a;
    border-radius: 30px;
}
button::-webkit-scrollbar-thumb {
    background-color: #A1CF6B;
    border-radius: 30px;
}
button::-webkit-scrollbar-thumb:hover {
    background-color: #719746;
}


.btn:hover {
    background: #A1CF6B;
    transform: scale(0.95);
    transition-duration: .5s;
}

.btn:hover:active {
    background: #bcf17f;
    transform: scale(1.05);
    transition-duration: .1s;
}

p {
    font-size: 1.3rem;
}

#progress {
    font-size: 1.3rem;
    color: #285943;
    font-weight: bold;
    /*background: #A1CF6B;*/
    border: 4px solid #E0C879;
    border-radius: .7rem;
    padding: .5rem 1rem;
}

.exit a{ 
    font-family: 'Exo', sans-serif;
    color:white;
}
.exit a:hover{
    text-decoration: underline;
}

#confetti-canvas{
    width:100%; /* prend tout l'écran */
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}