

#formLogin {
    background-color: #A1CF6B;
    max-width: 450px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    padding: 30px 30px;
    transition-duration: .2s;
}
#formLogin:hover{
    box-shadow : 0px 0px 0px 2px #285943;
    transition-duration: .2s;
}


#formLogin > input {
    margin: 10px 0;
    padding: 8px 10px;
    outline: none;
    box-shadow : 0px 0px 0px 1px #285943;
    border:none;
    border-radius: 5px;
    transition-duration: .2s;
}
#formLogin > input:focus{
    box-shadow : 0px 0px 0px 4px #285943;
    transition-duration: .2s;
}

#formLogin > button {
    margin: 10px 0;
    padding: 8px 10px;
    outline: none;
    box-shadow : 0px 0px 0px 1px #285943;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background: #285943;
    color: #F9F9F9;
    transition-duration: .2s;
}
#formLogin > button:hover{
    box-shadow : 0px 0px 0px 4px #bcf17f;
    transition-duration: .2s;
    color:rgb(255, 255, 255);
} 


#formLogin > select {
    border: rgb(141, 141, 141) solid 1px;
    border-radius: 5px;
    outline: none;
}

#login {
    cursor: pointer;
    color: #285943;
    margin: 20px 0 0 0;
    transition-duration: .2s;
}

#login:hover{
    color:black;
    transition-duration: .2s;
} 
#errorMessage{
    color:rgb(150, 1, 1);
    text-align:center;
}