<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Formulaire de connexion</title>
    <link rel="stylesheet" href="../styleConnexion.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="wrapper">
        <div class="title login">
            <h1>Formulaire de connexion</h1>
        </div>
    </div>

    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <label for="login" class="slide login">Connexion</label>
            <div class="slider-tab"></div>
        </div>

        <div class="form-inner">
            <form action="#" class="login">
                
                <div class="field">
                    <input type="text" placeholder="Adresse mail" required>
                </div>

                <div class="field">
                    <input type="password" placeholder="Mot de passe" required>
                </div>

                <!--<div class="fiel btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Se connecter">
                </div> -->

                <button id="bouton" class="btn">
                    <p id="btn">Envoyer</p>
                </button>

            </form>
        </div>

    </div>

</body>

<script type="text/javascript" src="../js/connexion.js"></script>


</html>